@import '../../styles/base.scss';

.input {
  display: flex;
  padding: 28px 32px;
  border-radius: 6px;
  height: 80px;

  &--light {
    background-color: $white;

    .input__field {
      background-color: $white;
      color: $veryDarkBlue;
    }
  }

  &--dark {
    background-color: $veryDarkBlue;

    .input__field {
      background-color: $veryDarkBlue;
      color: $white;
    }
  }

  &--filter {
    flex-direction: row-reverse;
    justify-content: space-evenly;

    .input__icon-wrapper {
      margin: 0;
    }
  }
}

.input__field {
  border: none;
  width: 100%;
  @include body-text;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &:-ms-input-placeholder {
    opacity: 0.5;
  }

  &::-ms-input-placeholder {
    opacity: 0.5;
  }
}

.input__icon-wrapper {
  margin-right: 16px;
}

.input__filter-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
