@import '../../styles/base.scss';

.input {
  display: flex;
  padding: 28px 32px;
  border-radius: 6px;
  align-items: center;
  height: 80px;

  @include lg {
    width: 100%;
  }

  &--light {
    background-color: $white;

    .input__field {
      background-color: $white;
      color: $veryDarkBlue;
      width: 100%;
    }
  }

  &--dark {
    background-color: $veryDarkBlue;

    .input__field {
      background-color: $veryDarkBlue;
      color: $white;
    }
  }
}

.input__field {
  border: none;
  @include body-text;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 0.5;
  }

  &:-ms-input-placeholder {
    opacity: 0.5;
  }

  &::-ms-input-placeholder {
    opacity: 0.5;
  }
}

.input__icon-wrapper {
  margin-right: 16px;
}
