@import '../../styles/base.scss';

.button {
  padding: 16px 14px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  @include h4(16px, 16px);
  font-weight: bold;

  @include lg {
    padding: 16px 35px;
  }

  &--primary {
    background-color: $violet;
    color: $white;

    &:hover {
      background-color: $lightViolet;
    }
  }

  &--secondary {
    background-color: rgba($violet, 0.1);
    color: $violet;

    &:hover {
      background-color: rgba($violet, 0.35);
    }
  }

  &--dark {
    background-color: rgba($white, 0.1);
    color: $white;

    &:hover {
      background-color: rgba($white, 0.35);
    }
  }
}
