@import '../../styles/base.scss';

.radio-button {
  display: flex;
}

.radio-button__label {
  @include h4(16px, 16px);
  color: $veryDarkBlue;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 24px 0;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    .radio-button__checkmark {
      background-color: rgba($violet, 0.25);
    }
  }
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  transition: color 0.25s;
  &:checked ~ .radio-button__checkmark {
    background-color: $violet;
    &::after {
      display: block;
    }
  }
}

.radio-button__checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: rgba($veryDarkBlue, 0.1);
  flex-shrink: 0;
  margin-right: 15px;
  border-radius: 50%;

  &::after {
    content: '';
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $white;
    border-radius: 50%;
    -webkit-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
